.navbar {
    height: 160px;
    width: 100%;
    padding-right: 0;
    background-color: #ffe599;
}

.img0 {
    height: 140px;
    width: 140px;
}

.login-panel {
    width: 450px;
}

.float-end {
    clear: both;
}

.tempdiv {
    width: 100%;
}