<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="tempdiv">
        <div class="float-left">
            <a class="navbar-brand" href="#"><img src="assets/faicon.png" class="img-fluid img0" alt="Responsive image" /></a>
        </div>

        <div class="login-panel float-right">
            <div class="nav flex-column float-left">
                <li class="nav-item">
                    <a class="nav-link active" href="#">NormanPan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">my offers</a>
                </li>
            </div>
            <div class="float-right">
                <a class="navbar-brand" href="#"><img src="assets/avatar.png" class="img-fluid img0" alt="Responsive image" /></a>
            </div>
        </div>

        <div class="float-end"></div>
    </div>
</nav>