<nav class="navbar navbar-inverse navbar-fixed-left ">
    <div class="align-top">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class=" btn bg-light " type="button " routerLink="/apartmentList">Utwórz nowe</button>
            </li>
            <br/>
            <li class="nav-item ">
                <button class="btn bg-light " type="button ">Rezerwacje</button>
            </li>
            <br/>
            <li class="nav-item ">
                <button class="btn bg-light " type="button ">Dodaj lokal</button>
            </li>
        </ul>
    </div>
</nav>