.navbar {
    background-color: #f1c232;
    color: white;
    width: 180px;
    padding-left: 0.5%;
    height: 100%;
}

.align-top {
    height: 100%;
    width: 100%;
}

.navbar-fixed-left {
    position: fixed;
}

.btn {
    width: 100%;
    border: solid black 2px;
}