<div class="row">
    <div class="col-12 pr-0">
        <ul *ngIf="this.announcements != undefined" class="list-group">
            <li *ngFor="let announcement of this.announcements" [routerLink]="'/detail/' + announcement.NrOgloszenia" class="list-group-item">
                <div class="row announcement">
                    <div class="col-md-3">
                        <img [src]="'http://localhost/poproject/img/apart'+ announcement.NrLokalu +'.jpg'" class="img-fluid" alt="Responsive image" />
                    </div>
                    <div class="col-md-9">
                        <h5 class="mt-4"><strong>{{ announcement.Tytul }}</strong></h5>
                        <p>{{ announcement.Opis }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>